/*
Project 3
Visual Frameworks 1108
by Carolyn Lea
August 12, 2011
*/



h1{
	border: 1px solid #37382C;
	margin:0px;
	padding:10px;
	background:#37382C;
	color:#FEFEF0;
	font-family:georgia;	
}

fieldset{
	border:1px solid #37382C;
	background:#FEFEF0;
}

legend{
	color:#37382C;
	font-family:georgia;
	font-weight:bold;
}

label{
	color:#37382C;
	font-family:georgia;
	line-height:2em;
	text-transform:capitalize;
}

button{
	background:#37382C;
	color:#FEFEF0;
	font-family:georgia;
	
}

p{
	color:#37382C;
	font-family:georgia;
	text-align:left;
	text-decoration:none;
}

textarea{
	color:#000000;
	width:320px;
	height:80px;
	font-style:italic;
}

input{
	color:#000000;
	font-style:italic;
	
}

select{
	background-color:#7C8055;
	color:#FEFEF0;
}


#clear{display:block; margin:15px;}
	#clear a{color:#990000;}
	
#clear a:hover{
	color:#7C8055;
}

#main {
	display:block;
}

#list{
	display:none;
}


	
